<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @team %> Statistics</title>
  </head>
  <body>
    <div>
      <h2><%= @team %> Statistics</h2>
    </div>

  <div>
<h3><%= @team %> Record</h3>
</div>
<div>
<span><strong>Win: </strong> </span><span><%= "#{@team_record[:wins]}" %></span> <br>
<span><strong>Loss: </strong></span><span><%= "#{@team_record[:losses]}" %></span>
</div>
<div>
<h3><%= @team %> Games</h3>
<ul>
<% @team_games.each do |game| %>
<li> (home)<strong> <%=  "#{game[:home_team]}"%></strong><%=" #{game[:home_score]}" %>
(away)<strong> <%= "#{game[:away_team]}"%></strong><%=" #{game[:away_score]}" %>
<% end %>
</li>

</ul>
</body>
</html>

